<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<connectionStrings>
		<clear/>
		<add name="BibliotekaGradBeograd" connectionString="Data Source=DESKTOP-OI1EMKC;Initial Catalog=BibliotekaGradBeograd;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
